<h1 align="center" class="display-4 mb-5">Order Detail</h1>
<table class="table table-striped text-center">
    <thead>
        <tr>
            <th scope="col" class="h2">Photo</th>
            <th scope="col" class="h2">Name</th>
            <th scope="col" class="h2">Description</th>
            <th scope="col" class="h2">Price</th>
            <th scope="col" class="h2">Quantity</th>
            <th scope="col" class="h2">Subtotal</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of (order$ | async)">
            <th class="align-middle h3" scope="row">
                <a routerLink="/seller/product/{{item.productId}}/edit"><img height="100px" src="{{item.productIcon}}"
                        alt="{{item.productName}}"></a>
            </th>
            <td class="align-middle h3"><a routerLink="/seller/product/{{item.productId}}/edit">{{item.productName}}</a>
            </td>
            <td class="align-middle h3">{{item.productDescription}}</td>
            <td class="align-middle h3">{{item.productPrice | currency: 'INR'}}</td>
            <td class="align-middle h3">{{item.count}}</td>
            <td class="align-middle h3">{{(item.productPrice * item.count | currency: 'INR')}}</td>
        </tr>
    </tbody>
</table>
<h5 style="display: inline" class="float-right h3">Total: {{(order$ | async)?.orderAmount | currency: 'INR'}}</h5><br>

 