<h1 align="center" class="display-4 ">Coupons</h1>

   
    <div class="a">
        
    
        <h2> Add Coupon</h2>
        <input [(ngModel)]="coupon" type="text" class="form-control form-control-lg" id="coupon" name="coupon" placeholder="Enter coupon code">  <br>
        <h2> Add Users</h2>
        <div *ngFor='let user of users'>
            <input type="checkbox" name="{{user.email}}" [value]="user.email" (change)="getEmail($event,user.email)" >{{user.email}}
    
        </div>
        <button (click)=addCoupon(coupon) align="right" class="btn btn-success">Add Coupon</button>
    </div>
<table class="b" id="table" class="table table-striped text-center" style="width:100%;">
    <thead>
    <tr>
        <th scope="col">Couponcode</th>
        <th scope="col">User</th>
        <th scope="col">Action</th>
        
    </tr>
    </thead>
    <!--Search by 
    <select ng-model="columns" ng-options="e for e in headers">
        <option value=""></option>
    </select>
    Search <input type = "text" ng-model ="Search[columns]" placeholder ="Enter Some Text To Search" />-->
    <tbody>
    <tr *ngFor="let coupon of page?.content | filter:searchText">
        
        <td class="align-middle">{{coupon.coupon}}</td>
        <td class="align-middle">{{coupon.email}}</td>
        <td class="align-middle">
            <button (click)=deleteCoupon(coupon.id)  class="btn btn-success">Delete</button>
           <!-- <a  [ngClass]="{'isDisabled':'(productInfo.productStock >10)? true:false'}"style="display: block" class="isDisabled"  routerLink="/email">Email</a>-->
        </td>

    </tbody>
</table>
<app-pagination [currentPage]="page"></app-pagination>
